---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 02 Mar 2020 06:48:45 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARK_SKY_API_KEY>/39.7392358,-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 578ms
      X-Forecast-Api-Calls:
      - '2'
      X-Response-Time:
      - 170.961ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1583131737,"summary":"Light
        Snow","icon":"snow","nearestStormDistance":0,"precipIntensity":0.032,"precipIntensityError":0.005,"precipProbability":1,"precipType":"snow","precipAccumulation":0.3817,"temperature":27.26,"apparentTemperature":27.31,"dewPoint":24.97,"humidity":0.91,"pressure":1019.7,"windSpeed":2.3,"windGust":4.14,"windBearing":73,"cloudCover":0.91,"uvIndex":0,"visibility":5.986,"ozone":379},"minutely":{"summary":"Light
        snow stopping in 30 min.","icon":"snow","data":[{"time":1583131680,"precipIntensity":0.033,"precipIntensityError":0.006,"precipProbability":1,"precipType":"snow"},{"time":1583131740,"precipIntensity":0.032,"precipIntensityError":0.006,"precipProbability":1,"precipType":"snow"},{"time":1583131800,"precipIntensity":0.031,"precipIntensityError":0.005,"precipProbability":1,"precipType":"snow"},{"time":1583131860,"precipIntensity":0.03,"precipIntensityError":0.005,"precipProbability":1,"precipType":"snow"},{"time":1583131920,"precipIntensity":0.0[...]
[...]
