---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=%7B%22location%22=%3E%22denver,co%22%7D&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 03 Mar 2020 06:58:19 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARK_SKY_API_KEY>/39.7392358,-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 434ms
      X-Forecast-Api-Calls:
      - '18'
      X-Response-Time:
      - 74.708ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1583218712,"summary":"Clear","icon":"clear-night","nearestStormDistance":56,"nearestStormBearing":339,"precipIntensity":0,"precipProbability":0,"temperature":39.46,"apparentTemperature":36.09,"dewPoint":10.69,"humidity":0.3,"pressure":1013.5,"windSpeed":4.68,"windGust":10.36,"windBearing":224,"cloudCover":0.17,"uvIndex":0,"visibility":10,"ozone":353},"minutely":{"summary":"Clear
        for the hour.","icon":"clear-night","data":[{"time":1583218680,"precipIntensity":0,"precipProbability":0},{"time":1583218740,"precipIntensity":0,"precipProbability":0},{"time":1583218800,"precipIntensity":0,"precipProbability":0},{"time":1583218860,"precipIntensity":0,"precipProbability":0},{"time":1583218920,"precipIntensity":0,"precipProbability":0},{"time":1583218980,"precipIntensity":0,"precipProbability":0},{"time":1583219040,"precipIntensity":0,"precipProbability":0},{"time":1583219100,"precipIntensity":0,"precipProbability":0},{"t[...]
[...]
