---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 02 Mar 2020 18:14:54 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARK_SKY_API_KEY>/39.7392358,-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 136ms
      X-Forecast-Api-Calls:
      - '11'
      X-Response-Time:
      - 109.365ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1583172906,"summary":"Clear","icon":"clear-day","nearestStormDistance":3,"nearestStormBearing":280,"precipIntensity":0,"precipProbability":0,"temperature":37.94,"apparentTemperature":35.13,"dewPoint":27.16,"humidity":0.65,"pressure":1009.4,"windSpeed":3.63,"windGust":8.28,"windBearing":313,"cloudCover":0.08,"uvIndex":4,"visibility":10,"ozone":353.8},"minutely":{"summary":"Clear
        for the hour.","icon":"clear-day","data":[{"time":1583172900,"precipIntensity":0,"precipProbability":0},{"time":1583172960,"precipIntensity":0,"precipProbability":0},{"time":1583173020,"precipIntensity":0,"precipProbability":0},{"time":1583173080,"precipIntensity":0,"precipProbability":0},{"time":1583173140,"precipIntensity":0,"precipProbability":0},{"time":1583173200,"precipIntensity":0,"precipProbability":0},{"time":1583173260,"precipIntensity":0,"precipProbability":0},{"time":1583173320,"precipIntensity":0,"precipProbability":0},{"t[...]
[...]
