---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 02 Mar 2020 18:43:17 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARK_SKY_API_KEY>/39.7392358,-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 677ms
      X-Forecast-Api-Calls:
      - '15'
      X-Response-Time:
      - 73.707ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1583174609,"summary":"Clear","icon":"clear-day","nearestStormDistance":10,"nearestStormBearing":359,"precipIntensity":0,"precipProbability":0,"temperature":38.75,"apparentTemperature":36.31,"dewPoint":27.75,"humidity":0.64,"pressure":1008.9,"windSpeed":3.45,"windGust":14.57,"windBearing":66,"cloudCover":0.06,"uvIndex":4,"visibility":10,"ozone":351.6},"minutely":{"summary":"Clear
        for the hour.","icon":"clear-day","data":[{"time":1583174580,"precipIntensity":0,"precipProbability":0},{"time":1583174640,"precipIntensity":0,"precipProbability":0},{"time":1583174700,"precipIntensity":0,"precipProbability":0},{"time":1583174760,"precipIntensity":0,"precipProbability":0},{"time":1583174820,"precipIntensity":0,"precipProbability":0},{"time":1583174880,"precipIntensity":0,"precipProbability":0},{"time":1583174940,"precipIntensity":0,"precipProbability":0},{"time":1583175000,"precipIntensity":0,"precipProbability":0},{"t[...]
[...]
