---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=fFu2jlmrG3-VOlEhJJuuW4z7EQwcTRNzWwKmZ0mANUM&query=%7B%22location%22=%3E%22denver,co%22%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=fFu2jlmrG3-VOlEhJJuuW4z7EQwcTRNzWwKmZ0mANUM&page=157&query=%7B%22location%22%3D%3E%22denver%2Cco%22%7D>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=fFu2jlmrG3-VOlEhJJuuW4z7EQwcTRNzWwKmZ0mANUM&page=2&query=%7B%22location%22%3D%3E%22denver%2Cco%22%7D>;
        rel="next"
      X-Total:
      - '1561'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '44'
    body:
      encoding: UTF-8
      string: '{"total":1561,"total_pages":157,"results":[{"id":"chaqHXlOzYs","created_at":"2018-02-23T17:18:23-05:00","updated_at":"2020-02-28T00:03:47-05:00","promoted_at":null,"width":6000,"height":4000,"color":"#EC956C","description":"Walking
        the streets of downtown Denver on a foggy, freezing cold day.","alt_description":"woman
        walking on street near SUV during daytime","urls":{"raw":"https://images.unsplash.com/photo-1519424187720-db6d0fc5a5d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjExODU4NH0","full":"https://images.unsplash.com/photo-1519424187720-db6d0fc5a5d2?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjExODU4NH0","regular":"https://images.unsplash.com/photo-1519424187720-db6d0fc5a5d2?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjExODU4NH0","small":"https://images.unsplash.com/photo-1519424187720-db6d0fc5a5d2?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjExODU4NH0","thumb":"https://images.unsplash.com/photo-1519424187720-db6d0fc5a5d2?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjExODU4NH0"},"links":{"self":"https://api.unsplash.com/photos/chaqHXlOzYs","html":"https://unsplash.com/photos/chaqHXlOzYs","download":"https://unsplash.com/photos/chaqHXlOzYs/download","download_location":"https://api.unsplash.com/photos/chaqHXlOzYs/download"},"categories":[],"likes":77,"liked_by_user":false,"current_user_collections":[],"user":{"id":"R9wpgxVwO48","updated_at":"2020-02-12T15:06:20-05:00","username":"owencavlys","name":"Owen
        Lystrup","first_name":"Owen","last_name":"Lystrup","twitter_username":"owen_lystrup","portfolio_url":"https://owenlystrup.com","bio":"**Top
        10% Contributor on Unsplash**\r\n\r\nPhotographer, writer, editor, videographer,
        content producer. \r\n\r\nSee more of my photography here: instagram.com/@owencavlys/\r\n\r\nSee
        my writing here:\r\nmedium.com/cisco-shifted","location":"Denver, by way of
        Mojave, San Francisco, and Los Angeles","links":{"self":"https://api.unsplash.com/users/owencavlys","html":"https://unsplash.com/@owencavlys","photos":"https://api.unsplash.com/users/owencavlys/photos","likes":"https://api.unsplash.com/users/owencavlys/likes","portfolio":"https://api.unsplash.com/users/owencavlys/portfolio","following":"https://api.unsplash.com/users/owencavlys/following","followers":"https://api.unsplash.com/users/owencavlys/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1497426481273-c0e02f108715?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-1497426481273-c0e02f108715?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-1497426481273-c0e02f108715?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"owencavlys","total_collections":0,"total_likes":171,"total_photos":22,"accepted_tos":true},"tags":[{"type":"landing_page","title":"car","source":{"ancestry":{"type":{"slug":"images","pretty_slug":"Images"},"category":{"slug":"things","pretty_slug":"Things"},"subcategory":{"slug":"car","pretty_slug":"Car"}},"title":"Car
        Images","subtitle":"Download free car images","description":"Choose from a
        curated selection of car photos. Always free on Unsplash.","meta_title":"900+
        Car Images: Download HD Pictures & Photos on Unsplash","meta_description":"Choose
        from hundreds of free car photos. Download HD car pictures for free on Unsplash.","cover_photo":{"id":"gbBWpX2sXmU","created_at":"2017-03-23T09:08:50-04:00","updated_at":"2020-02-07T00:03:09-05:00","promoted_at":"2017-03-23T09:08:50-04:00","width":4912,"height":7360,"color":"#EFE9EC","description":"Lambo","alt_description":"close
        photography of black convertible on road","urls":{"raw":"https://images.unsplash.com/photo-1490274494753-fd4f84681e7c?ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1490274494753-fd4f84681e7c?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb","reg[...]
