---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=fFu2jlmrG3-VOlEhJJuuW4z7EQwcTRNzWwKmZ0mANUM&query=%7B%22location%22=%3E%22denver,co/api/v1/antipode?location=hongkong%22%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=fFu2jlmrG3-VOlEhJJuuW4z7EQwcTRNzWwKmZ0mANUM&page=207&query=%7B%22location%22%3D%3E%22denver%2Cco%2Fapi%2Fv1%2Fantipode%3Flocation%3Dhongkong%22%7D>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=fFu2jlmrG3-VOlEhJJuuW4z7EQwcTRNzWwKmZ0mANUM&page=2&query=%7B%22location%22%3D%3E%22denver%2Cco%2Fapi%2Fv1%2Fantipode%3Flocation%3Dhongkong%22%7D>;
        rel="next"
      X-Total:
      - '2062'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: '{"total":2062,"total_pages":207,"results":[{"id":"3dPljatc268","created_at":"2018-12-26T04:29:17-05:00","updated_at":"2020-02-07T00:06:32-05:00","promoted_at":null,"width":3840,"height":5760,"color":"#262B1B","description":"My
        wife and I stumbled upon a massive cemetery when we veered off of our hiking
        route in Hongkong. Thought I\u2019d take a shot or 2","alt_description":"gray
        concrete tombs on cemetery screenshot","urls":{"raw":"https://images.unsplash.com/photo-1545816407-e1e3129af111?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjExODU4NH0","full":"https://images.unsplash.com/photo-1545816407-e1e3129af111?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjExODU4NH0","regular":"https://images.unsplash.com/photo-1545816407-e1e3129af111?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjExODU4NH0","small":"https://images.unsplash.com/photo-1545816407-e1e3129af111?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjExODU4NH0","thumb":"https://images.unsplash.com/photo-1545816407-e1e3129af111?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjExODU4NH0"},"links":{"self":"https://api.unsplash.com/photos/3dPljatc268","html":"https://unsplash.com/photos/3dPljatc268","download":"https://unsplash.com/photos/3dPljatc268/download","download_location":"https://api.unsplash.com/photos/3dPljatc268/download"},"categories":[],"likes":10,"liked_by_user":false,"current_user_collections":[],"user":{"id":"3YdGHZkRGys","updated_at":"2020-03-01T09:03:50-05:00","username":"sbk202","name":"Sam
        Balye","first_name":"Sam","last_name":"Balye","twitter_username":null,"portfolio_url":null,"bio":"I''m
        a graphic designer, I shoot photos and I make videos.","location":"Beijing,
        China","links":{"self":"https://api.unsplash.com/users/sbk202","html":"https://unsplash.com/@sbk202","photos":"https://api.unsplash.com/users/sbk202/photos","likes":"https://api.unsplash.com/users/sbk202/likes","portfolio":"https://api.unsplash.com/users/sbk202/portfolio","following":"https://api.unsplash.com/users/sbk202/following","followers":"https://api.unsplash.com/users/sbk202/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1566819007539-b3b6916aa717image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-1566819007539-b3b6916aa717image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-1566819007539-b3b6916aa717image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"sambk202","total_collections":0,"total_likes":160,"total_photos":88,"accepted_tos":true},"tags":[{"type":"search","title":"outdoors"},{"type":"landing_page","title":"landscape","source":{"ancestry":{"type":{"slug":"images","pretty_slug":"Images"},"category":{"slug":"nature","pretty_slug":"Nature"},"subcategory":{"slug":"landscape","pretty_slug":"Landscape"}},"title":"Landscape
        Images","subtitle":"Download free landscape images","description":"Choose
        from a curated selection of landscape photos. Always free on Unsplash.","meta_title":"900+
        Landscape Images: Download HD Pictures & Photos on Unsplash","meta_description":"Choose
        from hundreds of free landscape photos. Download HD landscape pictures for
        free on Unsplash.","cover_photo":{"id":"sR7_ImYvt1Q","created_at":"2017-08-15T04:36:19-04:00","updated_at":"2020-02-14T00:02:38-05:00","promoted_at":"2017-08-15T06:20:46-04:00","width":3968,"height":2232,"color":"#030502","description":"Rocky
        Mountain","alt_description":"photo of body of water between trees and mountain","urls":{"raw":"https://images.unsplash.com/photo-1502786129293-79981df4e689?ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1502786129293-79981df4e689?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&c[...]
