---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=%7B%22location%22=%3E%22hongkong%22%7D&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Hong Kong",
                       "short_name" : "HK",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Hong Kong",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 22.5619469,
                          "lng" : 114.4294999
                       },
                       "southwest" : {
                          "lat" : 22.1435,
                          "lng" : 113.8259001
                       }
                    },
                    "location" : {
                       "lat" : 22.3193039,
                       "lng" : 114.1693611
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 22.5619469,
                          "lng" : 114.4294999
                       },
                       "southwest" : {
                          "lat" : 22.1435,
                          "lng" : 113.8259001
                       }
                    }
                 },
                 "place_id" : "ChIJD5gyo-3iAzQRfMnq27qzivA",
                 "types" : [ "country", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 03 Mar 2020 21:48:55 GMT
- request:
    method: get
    uri: http://amypode.herokuapp.com/api/v1/antipodes?lat=22.3193039&long=114.1693611
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - "<AMYPODE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44fbfaaa09d0c593056cbd5360c77c9c"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"1","type":"antipode","attributes":{"lat":-22.3193039,"long":-65.8306389}}}'
  recorded_at: Tue, 03 Mar 2020 21:48:55 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?key=<GOOGLE_API_KEY>&latlng=-22.3193039,-65.8306389
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "plus_code" : {
              "compound_code" : "M5J9+7P Cerrillos, Jujuy, Argentina",
              "global_code" : "579PM5J9+7P"
           },
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Ruta Provincial 69",
                       "short_name" : "RP69",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Yavi",
                       "short_name" : "Yavi",
                       "types" : [ "administrative_area_level_2", "political" ]
[...]
