---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=%7B%22location%22=%3E%22hongkong%22%7D&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Hong Kong",
                       "short_name" : "HK",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Hong Kong",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 22.5619469,
                          "lng" : 114.4294999
                       },
                       "southwest" : {
                          "lat" : 22.1435,
                          "lng" : 113.8259001
                       }
                    },
                    "location" : {
                       "lat" : 22.3193039,
                       "lng" : 114.1693611
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 22.5619469,
                          "lng" : 114.4294999
                       },
                       "southwest" : {
                          "lat" : 22.1435,
                          "lng" : 113.8259001
                       }
                    }
                 },
                 "place_id" : "ChIJD5gyo-3iAzQRfMnq27qzivA",
                 "types" : [ "country", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 03 Mar 2020 22:03:31 GMT
- request:
    method: get
    uri: http://amypode.herokuapp.com/api/v1/antipodes?lat=22.3193039&long=114.1693611
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - "<AMYPODE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44fbfaaa09d0c593056cbd5360c77c9c"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"1","type":"antipode","attributes":{"lat":-22.3193039,"long":-65.8306389}}}'
  recorded_at: Tue, 03 Mar 2020 22:03:31 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARK_SKY_API_KEY>/-22.3193039,-65.8306389
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 534ms
      X-Forecast-Api-Calls:
      - '49'
      X-Response-Time:
      - 37.982ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":-22.3193039,"longitude":-65.8306389,"timezone":"America/La_Paz","currently":{"time":1583273024,"summary":"Mostly
        Cloudy","icon":"partly-cloudy-day","precipIntensity":0.0089,"precipProbability":0.05,"precipType":"rain","temperature":49.53,"apparentTemperature":46.38,"dewPoint":35.25,"humidity":0.58,"pressure":1012.2,"windSpeed":7.36,"windGust":11.43,"windBearing":33,"cloudCover":0.87,"uvIndex":0,"visibility":10,"ozone":249.3},"hourly":{"summary":"Clear
        throughout the day.","icon":"clear-day","data":[{"time":1583272800,"summary":"Mostly
        Cloudy","icon":"partly-cloudy-day","precipIntensity":0.0091,"precipProbability":0.05,"precipType":"rain","temperature":49.65,"apparentTemperature":46.6,"dewPoint":35.22,"humidity":0.57,"pressure":1012.1,"windSpeed":7.38,"windGust":11.42,"windBearing":34,"cloudCover":0.87,"uvIndex":0,"visibility":10,"ozone":249.3},{"time":1583276400,"summary":"Overcast","icon":"cloudy","precipInt[...]
[...]
- request:
    method: get
    uri: http://amypode.herokuapp.com/api/v1/antipodes?lat=22.3193039&long=114.1693611
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - "<AMYPODE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44fbfaaa09d0c593056cbd5360c77c9c"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"1","type":"antipode","attributes":{"lat":-22.3193039,"long":-65.8306389}}}'
  recorded_at: Tue, 03 Mar 2020 22:03:31 GMT
recorded_with: VCR 5.1.0
